<!--
 * @Author: zq636443 zq636443@163.com
 * @Date: 2024-07-31 14:33:23
 * @LastEditors: zq636443 zq636443@163.com
 * @LastEditTime: 2024-08-02 14:54:39
 * @FilePath: /data_product_cms_ant-pro/src/pages/document.ejs
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>信达证券内容活动中心</title>
    <link rel="icon" href="./favicon.png" type="image/x-icon" />
  </head>
  <body>
    <noscript>Sorry, we need js to run correctly!</noscript>
    <div id="root"></div>

    <script>
      var BASEURL = '';
      var ACTIVITYURL = '';

      // 风险等级
      var RISKLEVEL = [
        { key: 'R1', value: '低风险' },
        { key: 'R2', value: '中低风险' },
        { key: 'R3', value: '中风险' },
        { key: 'R4', value: '中高风险' },
        { key: 'R5', value: '高风险' },
      ];

      var RISKINVESTMENT = [
        { key: 'R1', value: '保守型投资者' },
        { key: 'R2', value: '谨慎型投资者' },
        { key: 'R3', value: '稳健型投资者' },
        { key: 'R4', value: '积极型投资者' },
        { key: 'R5', value: '激进型投资者' },
      ];
    </script>
  </body>
</html>
